.MainElementTab {
    display: flex;
    justify-content: flex-start;

    width: 100%;
    height: 97%;

    /*
    border: 2px dotted black; 
    */

    border-radius: 58px;
    margin: 0px 8% 0 8%;
    padding: 30px;
    background-color: #0e111e;
    box-sizing: border-box;

    overflow: auto;
}

.MainElementActive{
    height:320px;
    padding-top:20px;
    box-sizing: border-box;
}
.AnimationSequenceTitles {
    color: aqua;
}

/*
    Nav.jsx
*/
.AnimationTable {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 0 15px ;
    height:32px;
}

.AnimationTableActive {
    font-size: 20px;
    color: white;
}

.AnimationTableActive:hover {
    color: white;
}

.AnimationTableInactive {
    display: inline-block;
    
    font-size: 20px;
    color: #a1a1a1;
    
    transition: transform 0.2s ease, color 0.3s ease; 
    
}
.AnimationTableInactive:hover {
    display: inline-block;
    
    color: #fffefe;
    
    transform: scale(1.2);
    animation: transform ;
}

/*
    Active-Tab
*/

 .AnimationSequencePreviewCont {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: black;
        border-radius: 28px;
        
        width: 100%;
        height: 100%;
    
        object-fit: contain; 
    }