.StoryLineTitle {
  margin: 20px;
}

.StorylineLayoutContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;  
  width: 100%;
}

.StorylineLayout {
  display: flex;
  flex-flow: column nowrap;
  color: aquamarine;
}

.StoryLineLayoutBox {
  width: 100%;
  margin: 20px 0px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #161c31;
  border-radius: 14px;
}

.StoryLineLayoutContentContainer {
  border-radius: 10px;

  padding: 0 20px 0 20px;
  box-sizing: border-box;
  background-color: #273050 ;
}

.StoryLineContent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  margin: 10px 0 10px 0;
}