
/*
---------------------------------- FUNCTION Animation Page --------------------------------
*/

.AnimationContainer {
    display: flex;
    flex-flow: column nowrap;
    flex-direction: flex-start;
    
    width: 100%;
    height: 100%;

    padding: 45px;

    gap: 20px;
}
    
    /* ----------------------------Animation Apercu Container----------------------------------------------------------------------------
    */

    .AnimationSequencePreviewCont {
        background-color: black;
        border-radius: 28px;
        
        width: 50%;
        height: 40%;

        padding: 20px;

        object-fit: cover; 
    }


    .AnimationSequenceTitles {
        display: grid;

        grid-template-columns:30fr 1fr 3fr;
        grid-template-rows: 1fr;

        padding-left: 3% ;
        
        gap: 10%;
    }    
    /* ------------------------------ Animation Seéquence Container ----------------------------------------------------------------------- */

    .AnimationSequencesListCont {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 28px;

        width: 100%;
        height: 100%;

        padding: 30px;

        overflow: scroll;
    }

    


/*
---------------------------------- FUNCTION SequenceItem --------------------------------
*/


/*
---------------------------------- Main container ----------------------------
*/

.AnimationSequenceContainer {
    display: flex;

    flex-flow: row nowrap;

    gap: 10%;
}
    /*
        --------------------------- Container title + description -------------------------------------
    */
    .AnimationSequenceInfoCont {
        display: flex;

        flex-flow: column nowrap;

        width: 58%;
    }

        /*
        --------------------------- Container du contenun des séquences -------------------------------------
        */
        .AnimationSequenceInfoTitle {
            display: flex;
            flex-flow: column wrap;

            font-size: large;
        }

        .AnimationSequenceInfoDescr {
            display: flex;

            font-size: small;
        }