/*
---------------------------------- FUNCTION Animation Page --------------------------------
*/

.AnimationContainer {
    display: flex;
    flex-flow: column nowrap;
    flex-direction: flex-start;
    
    width: 100%;
    height: 100%;

    padding: 45px;

    gap: 20px;
}
    
.AnimationTable {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;

    padding: 0 15px ;
}

.AnimationTableActive {
    color: white;
}

.AnimationTableActive:hover {
    color: white;
}

.AnimationTableInactive {
    color: #a1a1a1;
    display: inline-block;
    transition: transform 0.2s ease, color 0.3s ease; 
}
.AnimationTableInactive:hover {
    color: #fffefe;
    transform: scale(1.2);
    animation: transform ;
}
    /* ----------------------------Animation Apercu Container----------------------------------------------------------------------------
        */

    .AnimationSequencePreviewCont {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: black;
        border-radius: 28px;
        
        width: 45%;
        height: 70%;
        
        object-fit: cover; 
        margin-bottom: 50px;
    }

    .AnimationSequenceTitles {
        display: grid;

        grid-template-columns:30fr 1fr 3fr;
        grid-template-rows: 1fr;

        padding-left: 3%;
        
        gap: 10%;
    }    
    /* ------------------------------ Animation Seéquence Container ----------------------------------------------------------------------- */

    .AnimationSequencesListCont {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 28px;

        width: 100%;
        height: 100%;

        padding: 30px;

        overflow: scroll;
    }

    


/*
---------------------------------- FUNCTION SequenceItem --------------------------------
*/


/*
---------------------------------- Main container ----------------------------
*/

.AnimationSequenceContainer {
    display: flex;
    flex-flow: row nowrap;

    gap: 8%;
    padding-top: 20px;
    padding-bottom: 20px;
}
    /*
        --------------------------- Container title + description -------------------------------------
    */
    .AnimationSequenceInfoCont {
        display: flex;

        flex-flow: column nowrap;

        width: 58%;
    }

        /*
        --------------------------- Container du contenun des séquences -------------------------------------
        */
        .AnimationSequenceInfoTitle {
            display: flex;
            flex-flow: column wrap;

            font-size: large;
        }

        .AnimationSequenceInfoDescr {
            display: flex;

            font-size: small;
        }